.float {
    float: left;
    width: 100px;
    height: 100px;
    margin: 2px
}.floatEnd {
    clear: left
}
@charset "UTF-8";
body {
    background: #fff7f0;
    overflow: auto;
    font-size: 16px;
    background-color: #fff;
    font-family: sans-serif;
    text-size-adjust: 100%;
    min-width: 650px
}
#site {
    font-family: 'Open Sans', 'メイリオ', 'ヒラギノ角ゴ ProN W3', 'Droid Sans Japanese'
}
b {
    font-family: 'Open Sans', 'メイリオ', 'ヒラギノ角ゴ ProN W3', 'Droid Sans Japanese'
}
#title {
    width: 100%;
    font-size: 50px;
    margin-top: 10px;
    margin-left: -10px;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #c0c;
    border-bottom: 1px dotted #f00
}
#icon {
    position: absolute;
    top: 5px;
    left: 20px;
    opacity: 0.5;
    z-index: 1
}
#header {
    position: relative;
    margin-left: 50px;
    padding-top: 20px;
    color: #f0c;
    background: -webkit-linear-gradient(#f0c, #f70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Aclonica;
    z-index: 2
}
#headerPad {
    background: linear-gradient(#fff, #ccc);
    border-bottom: 2px solid #ccc;
    margin-left: -10px;
    margin-right: -8px;
    height: 20px
}
h1 {
    color: #f70;
    display: inline;
    font-size: 60px;
    margin-top: -10px
}
h2 {
    margin-bottom: 10px
}
#sideS {
    font-size: 16px;
    display: inline
}
ul {
    margin-left: 10px;
    padding-left: 10px
}
#widget {
    padding-left: 30px;
    padding-top: 1px;
}
#footer {
    font-size: xx-small;
    clear: left;
    margin-left: 20px
}
#footerPad {
    clear: left;
    background: linear-gradient(#ccc, #fff);
    border-top: 2px solid #ccc;
    margin-left: -10px;
    margin-right: -8px;
    margin-bottom: 30px;
    height: 10px
}
a {
    text-decoration: none
}
a:link {
    color: #30c
}
a:visited {
    color: #c0c
}
a:active {
    color: #f70
}
a:hover {
    color: #c60
}
a.lightbox-text {
    color: #c7c
}
a.lightbox-text:hover {
    color: #fc7
}
#uldot {
    color: #f07
}
.blank {
    height: 10px
}
.stat {
    height: 15px
}
pre {
    font-family: Inconsolata, 'Open Sans', 'メイリオ', 'ヒラギノ角ゴ ProN W3', 'Droid Sans Japanese';
    border-width: 1px;
    border-style: solid;
    border-color: #c0c #c35 #c50;
    background: #fff7f0;
    background: linear-gradient(#fff7fc, #fffaf7);
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    min-height: 20px
}
.indent {
    margin-left: 5px;
    line-height: 30px
}
table {
    border-width: 1px;
    border-style: solid;
    border-color: #c0c #c35 #c50
}
tr {
    padding: 0px;
    margin: 0px
}
td {
    border-width: 1px;
    border-style: solid;
    border-color: #c35;
    font-size: 16px
}
#updateT {
    float: right;
    display: inline;
    margin-right: 20px
}
button {
    font-family: Open Sans;
    font-size: 15px;
    background: #fef;
    background: linear-gradient(#ffeef9, #fff5ee);
    border-width: 1px;
    border-style: solid;
    border-color: #c0c;
    border-radius: 2px;
    padding: 4px 8px 4px 8px;
    margin: 2px
}
button:hover {
    background: #fbf;
    background: linear-gradient(#fbe, #fdb)
}
#canvas {
    border-width: 1px;
    border-style: solid;
    border-color: #c0c #c35 #c50;
    border-radius: 5px;
    background: #fef;
    background: linear-gradient(#ffeef9, #fff5ee)
}
.wfl {
    float: left;
    width: 464px;
    height: 535px;
    margin-left: 10px
}
#wflEnd {
    clear: left
}
li {
    margin-left: -6px
}
li.list {
    margin-left: -12px
}
.tInput {
    padding-top: 7px;
    padding-bottom: 4px;
    width: 320px;
    height: 15px;
    line-height: 15px;
    font-family: 'Open Sans'
}
.code {
    font-family: Inconsolata
}